:root {
  --bg-body: #161827;
  --text-main: #f3f4f6;
  --text-muted: #9ca3af;
  --gold: #f5c04a;
  --purple: #8b5cf6;
  --border-soft: rgba(255, 255, 255, 0.08);

  --font-main: system-ui, 'Segoe UI', Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* horizontal scroll nahi aana chahiye */
}

body {
  background-color: #161827; /* company ka body background */
  color: var(--text-main);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}